/* Global Styles */
html{
box-sizing: border-box;
}
*, *:before, *:after{
box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1, h2{
    font-family: 'Caveat', cursive;
    font-weight: 400;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
    margin-top: 0px;
}
h3{
    margin: 0;
}
a {
    color: #EF233C; 
}
a:hover{
    text-decoration: none;
}
.content-wrap{
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: auto;
}

.col-narrow{
width: 30%;
float: left;
}
.col-wide{
width: 70%;
float: left;
padding-left: 30px;
}

.job-description{
    margin-bottom: 25px;
}
.job-description p:first-of-type{
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.btn{
    text-decoration: none;
    color: white;
    background: #EF233C;
    padding: 10px;
    display: inline-block;
}

.download{
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Header and Footer */
header, footer{
    background: #2B2D42;
    color: #8D99AE;
}
header{
    padding-top: 50px;
    position: relative;
}
.profile-image{
border-radius: 30%;
}

header h1, header h2{
    color: #EDF2F4;
    margin: 0;
}

footer{
    text-align: center;
}
.contact-info a{
    padding: 10px;
    display: inline-block;
}
/* nav styles */
nav {
    text-align: center;
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50;
}
nav a{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

/* Work Experience */
.work{
    background: #EDF2F4;
}
h3 ~ p {
margin: 0;
}

/* Education */
.education{
    background: #8D99AE;
}
p + h3{
    margin-top: 30px;
}
